mixin social(cl)
    .social(class= cl)
        a.social__item.lazy(data-src='/assets/img/vk.svg' href="/")
        a.social__item.lazy(data-src='/assets/img/instagram.svg' href="/")
        a.social__item.lazy(data-src='/assets/img/facebook.svg' href="/")
        a.social__item.lazy(data-src='/assets/img/youtube.svg' href="/")