mixin social(cl)
    .social(class= cl)
        .social__item.lazy(data-src='/assets/img/vk.svg')
        .social__item.lazy(data-src='/assets/img/instagram.svg')
        .social__item.lazy(data-src='/assets/img/facebook.svg')
        .social__item.lazy(data-src='/assets/img/youtube.svg')