mixin slider_teams()
    .slider-team
        
        .slider-team__inner
            .slider-team__box
                    
                .slider-team__item
                    img.slider-team__image.lazy(data-src="/assets/img/teams/arsenal.png", alt="")
                    .slider-team__caption Арсенал
                .slider-team__item
                    img.slider-team__image.lazy(data-src="/assets/img/teams/atletikomadrid.png", alt="")
                    .slider-team__caption Атлетико
                .slider-team__item
                    img.slider-team__image.lazy(data-src="/assets/img/teams/barselona.png", alt="")
                    .slider-team__caption Барселона
                .slider-team__item
                    img.slider-team__image.lazy(data-src="/assets/img/teams/bayern.png", alt="")
                    .slider-team__caption Бавария
                .slider-team__item
                    img.slider-team__image.lazy(data-src="/assets/img/teams/chelsi.png", alt="")
                    .slider-team__caption Челси
                .slider-team__item
                    img.slider-team__image.lazy(data-src="/assets/img/teams/cska.png", alt="")
                    .slider-team__caption ЦСКА
                .slider-team__item
                    img.slider-team__image.lazy(data-src="/assets/img/teams/interm.png", alt="")
                    .slider-team__caption Интер
                .slider-team__item
                    img.slider-team__image.lazy(data-src="/assets/img/teams/juventus.png", alt="")
                    .slider-team__caption Ювентус
                .slider-team__item
                    img.slider-team__image.lazy(data-src="/assets/img/teams/mansiti.png", alt="")
                    .slider-team__caption Ман.Сити
                .slider-team__item
                    img.slider-team__image.lazy(data-src="/assets/img/teams/manun.png", alt="")
                    .slider-team__caption Манч.Юн
                .slider-team__item
                    img.slider-team__image.lazy(data-src="/assets/img/teams/milan.png", alt="")
                    .slider-team__caption Милан
                .slider-team__item
                    img.slider-team__image.lazy(data-src="/assets/img/teams/realm.png", alt="")
                    .slider-team__caption Реал М.
                .slider-team__item
                    img.slider-team__image.lazy(data-src="/assets/img/teams/spartak.png", alt="")
                    .slider-team__caption Спартак
                .slider-team__item
                    img.slider-team__image.lazy(data-src="/assets/img/teams/zenit.png", alt="")
                    .slider-team__caption Зенит
            .slider-team__options
                .slider-team__arrows