mixin slider_fk()
    .slider
        .slider__box.slider__box_fk
            .slider__item
                .slider__title 
                img.slider__image.lazy(data-lazy="/assets/img/zenit.jpg"  alt="")
                
 
            
        .slider__options
            .slider__arrows.slider__arrows_fk