mixin slider()
    .slider
        .slider__box.slider__box_main
            .slider__item
                .slider__title Место для Вашей рекламы
                img.slider__image.lazy(data-lazy="/assets/img/slide.jpg"  alt="")
                
            .slider__item
                .slider__title Место для Вашей рекламы
                img.slider__image.lazy(data-lazy="/assets/img/slide.jpg"  alt="")
            .slider__item
                .slider__title Место для Вашей рекламы
                img.slider__image.lazy(data-lazy="/assets/img/slide.jpg"  alt="")
                
            .slider__item
                .slider__title Место для Вашей рекламы
                img.slider__image.lazy(data-lazy="/assets/img/slide.jpg"  alt="")
            
        .slider__options
            .slider__arrows.slider__arrows_main