mixin breadcrumbs()
    .breadcrumbs
        .breadcrumbs__inner
            a.breadcrumbs__link(href="/") Главная
            a.breadcrumbs__link(href="/") Новости
            .breadcrumbs__point Российский футбол развалился. Уже есть жертвы