extends ../layout/main




block variables
    -var title = 'article'
    -var description = 'article'
    -var pageClass = ''

block content
   

    //- +banner('banner_top','Место для Вашей рекламы')
    +breadcrumbs()
    +section_single()
    +section_half()
    //- +section_news()
    //- +section_also()
    //- +banner('banner_section','Место для Вашей рекламы')
    //- +section_text()