extends ../layout/main




block variables
    -var title = 'article'
    -var description = 'article'
    -var pageClass = ''

block content
   
    +breadcrumbs()
    +section_single()
    +section_half()