extends ../layout/main




block variables
    -var title = 'fk'
    -var description = 'fk'
    -var pageClass = ''

block content
    +slider_fk()
    +club()
    //- +slider_teams()
    //- +section_reviews()
    //- +banner('banner_section','Место для Вашей рекламы')
    //- +section_articles()
    //- +banner('banner_section','Место для Вашей рекламы')
    //- +section_text()