extends ../layout/main




block variables
    -var title = 'index'
    -var description = 'index'
    -var pageClass = 'index'

block content
    //-+slider()
    +schedule()
    +slider_teams()
    +section_reviews()
    +banner('banner_section','Место для Вашей рекламы')
    +section_articles()
    +banner('banner_section','Место для Вашей рекламы')
    +section_text()