extends ../layout/main




block variables
    -var title = 'news'
    -var description = 'news'
    -var pageClass = ''

block content
   
    //- +slider()
    //- +schedule()
    //- +slider_teams()
    //- +section_reviews()
    +banner('banner_top','Место для Вашей рекламы')
    +breadcrumbs()
    +section_news()
    //- +section_articles()
    //- +banner('banner_section','Место для Вашей рекламы')
    //- +section_text()