extends ../layout/main




block variables
    -var title = 'news'
    -var description = 'news'
    -var pageClass = ''

block content
   

    +banner('banner_top','Место для Вашей рекламы')
    +breadcrumbs()
    +section_news()
    +section_also()
    +banner('banner_section','Место для Вашей рекламы')
    +section_text()