extends ../layout/main




block variables
    -var title = 'russia'
    -var description = 'russia'
    -var pageClass = ''

block content
    +banner('banner_top','Место для Вашей рекламы')
    +breadcrumbs()
    +schedule()
    +section_reviews()
    +banner('banner_section','Место для Вашей рекламы')
   
    +section_text()