extends ../layout/main




block variables
    -var title = 'review'
    -var description = 'review'
    -var pageClass = ''

block content
    +banner('banner_top','Место для Вашей рекламы')
    +breadcrumbs()
    +section_half_2()