mixin section_reviews()
    .section
        .section__inner
            
            if title == 'index'
                +title('Последние видеообзоры')
            else
                +title('Видео обзоры матчей')
            .section__box
                +review()
                +review()
                +review()
                +review()
                +review()
                +review()
                +review()
                +review()
            if title == 'index'
                +button('button_more','Показать еще')
            else
                +pagination()
            