mixin section_also()
    .section
        .section__inner
            +title('Смотрите также','title_upper')
            .section__box.section__box_related
                +related()
                +related()
                +related()
                +related()
                +related()
                +related()
                +related()
                +related()
                