mixin section_articles()
    .section
        .section__inner
            +title('Аналитика')
            .section__box
                +article('/assets/img/article_2.jpg','После футбола с Георгием Черданцевым','','','','','article__video_show')
                +article('/assets/img/article_1.jpg','Голы и голевые Бакаева в сезоне 2019/2020','','','','','article__video_show')
                +article('/assets/img/article_2.jpg','После футбола с Георгием Черданцевым','','','','','article__video_show')
                +article('/assets/img/article_1.jpg','Голы и голевые Бакаева в сезоне 2019/2020','','','','','article__video_show')
                +article('/assets/img/article_2.jpg','После футбола с Георгием Черданцевым','','','','','article__video_show')
                +article('/assets/img/article_1.jpg','Голы и голевые Бакаева в сезоне 2019/2020','','','','','article__video_show')
                +article('/assets/img/article_2.jpg','После футбола с Георгием Черданцевым','','','','','article__video_show')
                +article('/assets/img/article_1.jpg','Голы и голевые Бакаева в сезоне 2019/2020','','','','','article__video_show')
            +button('button_more','Больше аналитики')