mixin section_news()
    .section
        .section__inner
            +title('Новости','title_upper')
            .section__box
                +article('/assets/img/article_2.jpg','После футбола с Георгием Черданцевым','article_news','article__image_news','article__content_news','article__title_news')
                +article('/assets/img/article_1.jpg','Голы и голевые Бакаева в сезоне 2019/2020','article_news','article__image_news','article__content_news','article__title_news')
                +article('/assets/img/article_2.jpg','После футбола с Георгием Черданцевым','article_news','article__image_news','article__content_news','article__title_news')
                +article('/assets/img/article_1.jpg','Голы и голевые Бакаева в сезоне 2019/2020','article_news','article__image_news','article__content_news','article__title_news')
                +article('/assets/img/article_2.jpg','После футбола с Георгием Черданцевым','article_news','article__image_news','article__content_news','article__title_news')
                +article('/assets/img/article_1.jpg','Голы и голевые Бакаева в сезоне 2019/2020','article_news','article__image_news','article__content_news','article__title_news')
                +article('/assets/img/article_2.jpg','После футбола с Георгием Черданцевым','article_news','article__image_news','article__content_news','article__title_news')
                +article('/assets/img/article_1.jpg','Голы и голевые Бакаева в сезоне 2019/2020','article_news','article__image_news','article__content_news','article__title_news')