mixin section_text()
    .section
        .section__inner
            +club()
            
            
            .section__box
                +banner('banner_main','Место для Вашей рекламы')
                +banner('banner_main','Место для Вашей рекламы')
                +banner('banner_main','Место для Вашей рекламы')
                +banner('banner_main','Место для Вашей рекламы')

