mixin section_also()
    .section
        .section__inner.section__inner_related
            +title('Смотрите также','title_upper')
            .section__box.section__box_related
                +related('related_half')
                +related('related_half')
                +related('related_half')
                +related('related_half')
                +related('related_half')
                +related('related_half')
                +related('related_half')
                +related('related_half')
                