.section {

    &_final {
        position: relative;

        &:before {
            position: absolute;
            bottom: 50px;
            left: 0;
            content: '';
            display: block;
            background-image: url('/assets/img/ball_left.png');
            background-repeat: no-repeat;
            background-position: -107px 0;
            background-size: contain;
            width: 320px;
            height: 615px;
            z-index: -1;
            opacity: 0.4;
        }

        &:after {
            position: absolute;
            top: -50px;
            right: 0;
            content: '';
            display: block;
            background-image: url('/assets/img/ball_right.png');
            background-repeat: no-repeat;
            background-position: 107px 0;
            background-size: contain;
            width: 320px;
            height: 615px;
            z-index: -1;
            opacity: 0.4;
        }
    }

    &__inner {
        margin: 0 auto;
        padding: 0;
        max-width: 1170px;
        width: 100%;
        padding: 60px 0;
        @media @1024{
            padding:  50px 30px;
        }
        @media @768{
            padding:  50px 15px;
        }
        @media @320{
            padding: 30px 10px;
        }
        &_half{
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
        }
        &_related{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__box {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        padding: 15px 0 45px;
        &:after{
            content:'';
            flex: 0 0 270px;
        }
        @media @320{
            justify-content: center;
        }

        &_related {
            padding: 15px 0 45px;
            max-width: 1090px;
            
        }
        &_half{
            width: calc(50% - 30px);
            @media @768{
                width: calc(50% - 15px);
            }
            @media @320{
                width: 100%;
            }
        }
        &_noflex{
            display: block;
        }
    }

    &__image{
        max-width: 970px;
        @media @1024,@768,@320{
            width: 100%;
        }
    }

    &__subtitle {
        .rem(19);
        font-weight: 600;
        color: @bld;
        margin-bottom: 24px;
        font-style: italic;
        margin-top: 30px;
        &_review{
            font-style: normal;
            margin-top: 0;
            font-weight: normal;
        }
    }
    &__text{

        p,ul,li,a{
            .rem(19);
        font-weight: 400;
        color: @bld;
        margin-bottom: 24px;
        margin-top: 30px;
        }
    }
    &__arrows{
        max-width: 160px;
        width: 100%;
        padding: 30px 0;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        
    }
    &__arrow{
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url('/assets/img/next.svg');
        cursor: pointer;
        
        &_prev{
            transform: rotate(180deg);
            &:hover,&:focus,&:active{
                background-image: url('/assets/img/next_hover.svg');
            }
        }
        &_next{
            &:hover,&:focus,&:active{
                background-image: url('/assets/img/next_hover.svg');
            }
        }
    }

    &__table{
        width: 100%;
        margin-top: -40px;
        @media @320{
            margin-top: 0;
        }
        img{
            height: 30px;
            width: 27px;
        }
        tr{
            height: 45px;
            &:first-child{
                border-bottom: 2px solid @green;
            }
            &:not(:first-child){
                border-top: 1px solid @line2;
            }
        }
        th{
            .rem(20);
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            vertical-align: middle;
            color: @green;
        }
        td{
            .rem(20);
            font-weight: 400;
            
            text-align: center;
            vertical-align: middle;
            color: @bld;
        }
    }
}