mixin section_reviews()
    .section
        .section__inner
            +title('Последние видеообзоры')
            .section__box
                +review()
                +review()
                +review()
                +review()
                +review()
                +review()
                +review()
                +review()
            +button('button_more','Показать еще')