mixin related()
    .related
        .related__hero
            img.related__logo.lazy(data-src="/assets/img/tambov.jpg", alt="")
            img.related__logo.lazy(data-src="/assets/img/ks.jpg", alt="")
        .related__content
            .related__title
                .related__team Тамбов
                .related__vs -
                .related__team Крылья Советов
            a.related__review.lazy(data-src="/assets/img/hd.svg" href='/') Обзор матча
        .related__date 16.03.2020
        
        
