mixin footer()
    footer.footer
        .footer__inner
            +logo('logo_footer')
            .footer__contacts
                .footer__link Связаться с нами:
                    a.footer__email(href="mailto:kuza650@yandex.ru") Kuza650@yandex.ru
                .footer__text Все видео, взяты с официальных источников - МатчТВ и СИЛА ТВ, по поводу авторского права, пишите на почту
                .footer__copyright Copyrights © 2009-2019. Футбол онлайн
                a(href="/").footer__order Заказать Контекстную рекламу
                +social('social_footer')
                