mixin battle()
    .battle
        
        .battle__team
            .battle__logo.lazy(data-src="/assets/img/battle_team_1.jpg")
            .battle__name Тамбов

        .battle__content
            .battle__title Чемпионат России
            .battle__count 22 тур
            .battle__score показать счет
            
        .battle__team
            .battle__logo.lazy(data-src="/assets/img/battle_team_2.jpg")
            .battle__name Крылья Советов