mixin club()
    .club
        .club__inner
            .club__name Зенит
            .club__country Россия, Санкт-Петербург
            .club__content
                img.club__logo.lazy(data-src="/assets/img/club.jpg" alt="")
                .club__caption
                    .club__item
                        .club__option Дата основания:
                        .club__value 25 мая 1925
                    .club__item
                        .club__option Стадион:
                        .club__value «Газпром Арена»
                    .club__item
                        .club__option Главный тренер:
                        .club__value Сергей Семак
                    .club__item
                        .club__option Капитан:
                        .club__value Бранислав Иванович

        
            .club__text
                p Футбольный клуб «Зенит» основан в мае 1925 года как команда при Ленинградском металлическом заводе имени Сталина. С 1936 года клуб носил имя «Сталинец», а четыре года спустя обрел свое нынешнее название.
                p «Зенит» — единственная команда в Премьер-лиге, представляющая Санкт-Петербург. По оценкам независимых аналитиков, за сине-бело-голубых в городе болеют 60 процентов жителей, а более 80 процентов петербуржцев считают команду символом Северной столицы. 
                p Проведенное в конце 2008 года исследование показало, что «Зенит» входит в десятку самых популярных клубов Европы, являясь при этом самой популярной командой постсоветского пространства. В России сине-бело-голубых поддерживают 15 миллионов болельщиков.
                p «Зенит» является обладателем 18 трофеев: Кубка чемпионов России (1984, 2007, 2010, 2012, 2015, 2019), национального Кубка (1944, 1999, 2010, 2016) и Суперкубка (1985, 2008, 2011, 2015, 2016), Кубка Премьер-лиги (2003), Кубка УЕФА и Суперкубка УЕФА (оба — 2008).
                p Генеральный спонсор клуба — публичное акционерное общество «Газпром».

            +upcoming()
            .section__box
                +banner('banner_main','Место для Вашей рекламы')
                +banner('banner_main','Место для Вашей рекламы')
                +banner('banner_main','Место для Вашей рекламы')
                +banner('banner_main','Место для Вашей рекламы')