mixin upcoming()
    .upcoming
        .upcoming__title Ближайшие матчи
        .upcoming__empty Не найдено

    .upcoming
        .upcoming__title Прошедшие матчи
        table
            tr
                td 14.03.2020
                td Зенит - Урал	
                td Чемпионат России
                td 7:1
                td 
                    a(href='/') Видео
            tr
                td 14.03.2020
                td Зенит - Урал	
                td Чемпионат России
                td 7:1
                td 
                    a(href='/') Видео
            tr
                td 14.03.2020
                td Зенит - Урал	
                td Чемпионат России
                td 7:1
                td 
                    a(href='/') Видео
            tr
                td 14.03.2020
                td Зенит - Урал	
                td Чемпионат России
                td 7:1
                td 
                    a(href='/') Видео
            tr
                td 14.03.2020
                td Зенит - Урал	
                td Чемпионат России
                td 7:1
                td 
                    a(href='/') Видео
            tr
                td 14.03.2020
                td Зенит - Урал	
                td Чемпионат России
                td 7:1
                td 
                    a(href='/') Видео