
include ../blocks/article/article
include ../blocks/banner/banner
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/button/button
include ../blocks/footer/footer
include ../blocks/header/header
include ../blocks/logo/logo
include ../blocks/nav/nav
include ../blocks/review/review
include ../blocks/schedule/schedule


include ../blocks/section/section_reviews
include ../blocks/section/section_articles
include ../blocks/section/section_text
include ../blocks/section/section_news


include ../blocks/slider/slider
include ../blocks/slider/slider_teams


include ../blocks/social/social
include ../blocks/title/title

block variables

html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        meta(name="description", content=description)

        include ../includes/styles


    body(class=pageClass)
        +header()
        +nav()
        block content
        +footer()

        include ../includes/scripts