
include ../blocks/banner/banner
include ../blocks/footer/footer
include ../blocks/header/header
include ../blocks/logo/logo
include ../blocks/nav/nav
include ../blocks/schedule/schedule
include ../blocks/slider/slider
include ../blocks/social/social
include ../blocks/title/title

block variables

html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        meta(name="description", content=description)

        include ../includes/styles


    body(class=pageClass)
        +header()
        +nav()
        block content
        +footer()

        include ../includes/scripts