mixin header()
	header.header
		.header__inner 
			+banner('banner_header','Место для Вашей рекламы')
			+logo()
			+social()
	.header__left.lazy(data-src='/assets/img/head_left.png')
	.header__right.lazy(data-src='/assets/img/head_right.png')
