mixin nav()
    .nav
        a(href="/").nav__item.nav__item_active Главная
        a(href="/").nav__item Новости
        a(href="/").nav__item Россия
        a(href="/").nav__item Англия
        a(href="/").nav__item Испания
        a(href="/").nav__item Италия
        a(href="/").nav__item Германия
        a(href="/").nav__item Франция
        a(href="/").nav__item Украина
        a(href="/").nav__item Лига чемпионов
        a(href="/").nav__item Лига Европы
        a(href="/").nav__item Прочие
        a(href="/").nav__item Аналитика
        .nav__more еще...
            